@use "../../utils/clamp.scss" as *;
@use "../../utils/Variables.scss" as *;

.custom-flavor-menu {
    grid-area: 1/1/5/6;

    h1 {
        width: 100%;
        font-size: clampDef(5em);
        line-height: clampDef(1.5em);
        margin-block: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .close {
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: clampDef(5em);
        line-height: clampDef(1em);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none !important;
        transition: scale 0.3s ease-in-out;

        &:hover {
            scale: 1.1;
        }
    }

    .custom-flavor-shop-button {
        position: fixed;
        bottom: 30px;
        left: 30px;
        width: 50px;
        aspect-ratio: 1 / 1;
        background-color: transparent;
        border: none !important;
        transition: scale 0.3s ease-in-out;

        img {
            width: 100%;
            height: 100%;
        }

        &:hover {
            scale: 1.1;
        }
    }

    .add-custom-flavor {
        position: fixed;
        bottom: 30px;
        right: 30px;
        font-size: clampDef(3em);
        line-height: clampDef(0.6em);
        padding: 10px;
        aspect-ratio: 1 / 1;
        margin: 0;
        width: max-content;
        --border-color: #{$themeColor2};
        --border-size: 2px;
        transition: scale 0.3s ease-in-out;

        &:hover {
            scale: 1.1;
        }
    }

    .custom-flavor-list {
        width: 80%;
        min-width: 300px;
        margin: 0;
        padding: 0;
        margin-inline: auto;
        list-style-type: none;
        gap: 10px;
        display: flex;
        flex-direction: column;

        .custom-flavor-item {
            width: 100%;

            background: url(./bgs/customFlavors/listBg.png);
            background-repeat: repeat-x;
            background-size: 10% 100%;
            background-position: 0 0;

            display: grid;
            grid-template-columns: max-content auto max-content max-content max-content max-content max-content;
            grid-template-rows: 100%;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            justify-items: center;
            align-items: center;

            .image {
                grid-area: 1 / 1 / 2 / 2;
                backdrop-filter: blur(2px) brightness(50%);
                justify-self: start;
                margin-left: 10px;
                max-height: 95%;
            }

            .name {
                color: $themeColor2;
                grid-area: 1 / 2 / 2 / 3;
                font-size: clampDef(3em);
                filter: drop-shadow(0 0 10px black);
                text-overflow: ellipsis;
                overflow: hidden;
                text-wrap: nowrap;
                white-space: nowrap;
                display: block;
                max-width: 90%;
            }

            .colors {
                grid-area: 1 / 3 / 2 / 4;
                display: flex;
                flex-direction: row;
                gap: 10px;
                height: 80%;
                justify-self: center;
                align-self: center;
                margin-block: auto;

                @media (width < 1300px) {
                    .color {
                        font-size: 0 !important;
                        line-height: 0 !important;
                        width: 30px !important;
                        aspect-ratio: 1 / 1;
                    }
                }

                .color {
                    background-color: var(--color);
                    width: 100px;
                    font-size: clampDef(1.4em);
                    line-height: clampDef(1em);
                    height: calc(90% - 10px);
                    padding: 5px;
                    margin: 5px;
                    color: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }

            .public {
                grid-area: 1 / 4 / 2 / 5;
                height: max-content;

                label {
                    color: black;
                }
            }

            .preview {
                grid-area: 1 / 5 / 2 / 6;
                background-color: transparent;
                border: none !important;
                transition: scale 0.3s ease-in-out;

                &:hover {
                    scale: 1.1;
                }
            }

            .edit {
                grid-area: 1 / 6 / 2 / 7;
                background-color: transparent;
                border: none !important;
                transition: scale 0.3s ease-in-out;

                &:hover {
                    scale: 1.1;
                }
            }

            .delete {
                grid-area: 1 / 7 / 2 / 8;
                background-color: transparent;
                border: none !important;
                transition: scale 0.3s ease-in-out;

                &:hover {
                    scale: 1.1;
                }
            }

        }

    }
}

.custom-flavor-preview-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px) brightness(70%);
    }

    .custom-flavor-preview {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 200px;
        backdrop-filter: blur(5px) brightness(70%);
        --border-size: 1px;
        --border-color: #{$themeColor3};
        display: flex;
        flex-direction: column;

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: transparent;
            border: none !important;
            font-size: clampDef(3em);
        }

        canvas {
            max-width: calc(100% - 20px);
            width: calc(100% - 20px);
            max-height: calc(80% - 20px);
            padding: 10px;
            margin-block: auto;
        }

        h2 {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: clampDef(1em);
            font-size: clampDef(2.5em);
            margin: 0;
            height: 20%;
        }

    }
}

.custom-flavor-shop-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px) brightness(60%);
    }

    .custom-flavor-shop {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 50%;
        padding: 20px;
        backdrop-filter: blur(10px) brightness(60%);
        transform: translate(-50%, -50%);

        h2 {
            width: 100%;
            font-size: clampDef(3em);
            line-height: clampDef(1em);
            margin-block: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5%;
        }

        .flavors {
            width: calc(100% - 10px);
            display: grid;
            grid-template-columns: calc(33.333% - 10px) calc(33.333% - 10px) calc(33.333% - 10px);
            gap: 20px;
            height: calc(95% - 10px);
            overflow-y: auto;
            overflow-x: hidden;

            .loading {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.3);
                z-index: 100000;

                &::after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    content: "Loading";
                    font-size: clampDef(3em);

                    animation: loading-after 5s linear 0ms infinite forwards;
                }
            }

            .custom-flavor {
                // height: 200px;
                aspect-ratio: 1 / 1.2;
                // display: flex;
                // flex-direction: column;
                position: relative;
                --border-color: var(--flavor-color);
                --border-size: 2px;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 1fr 0.5fr 0.5fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;

                &.skeleton {
                    border: 2px solid white;
                    border-radius: 20px;
                }

                .image {
                    grid-area: 1 / 1 / 2 / 2;
                    max-width: 90%;
                    max-height: 90%;
                    width: calc(100% - 30px);
                    justify-self: center;
                    align-self: center;
                }

                .name {
                    grid-area: 2 / 1 / 3 / 2;
                    width: 100%;
                    font-size: clampDef(2em);
                    line-height: clampDef(1em);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 10px;
                    justify-self: center;
                    align-self: center;
                }

                .download {
                    background-color: transparent;
                    border: none !important;
                    transition: scale 0.3s ease-in-out;

                    &:hover {
                        scale: 1.1;
                    }
                }

                .already-installed {
                    font-size: clampDef(1.4em);
                    line-height: clampDef(1em);
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0.3;
                }

                .play {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    background-color: transparent;
                    border: none !important;
                    transition: scale 0.3s ease-in-out;

                    img {
                        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4));
                    }

                    &:hover {
                        scale: 1.1;
                    }
                }
            }
        }

    }

}

@keyframes loading-after {
    0% {
        content: "Loading";
    }

    25% {
        content: "Loading.";
    }

    50% {
        content: "Loading..";
    }

    75% {
        content: "Loading...";
    }
}