.current-main-theme-selector {

    position: relative;
    z-index: 10000;

    .main-flavor-label {
        font-size: 2rem;
    }

    .elements-wrapper {
        display: flex;
        flex-direction: row;
        width: 5vw;
        padding: 10px;
        cursor: pointer;


        .main-flavor {
            width: 5vw;
            min-width: 70px;
            max-width: 100px;
            position: relative;
            aspect-ratio: 1 / 1;

            .border-wrapper {

                position: absolute;
                aspect-ratio: 1/1;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                transition: transform 0.3s ease-in-out;

                img {
                    aspect-ratio: 1 / 1;
                    image-rendering: pixelated;
                    image-rendering: crisp-edges;
                    object-fit: contain;
                    width: 60%;
                }

                .bgImage {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    &.main-color {

                        background-color: var(--main-color);
                        mask-image: url("./masks/background-main-flavor-main-mask_alpha.png");
                        // mask-image: linear-gradient(to bottom, black, white);
                        mask-position: 50% 50%;
                        mask-repeat: no-repeat;
                        mask-size: cover;
                        mask-mode: alpha;
                    }

                    &.main-color-2 {
                        background-color: var(--vine-color);

                        mask-image: url("./masks/background-main-flavor-vines-mask_alpha.png");
                        mask-position: 50% 50%;
                        mask-repeat: no-repeat;
                        mask-size: cover;
                    }
                }
            }

            span {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3rem;
                position: absolute;
                top: 0%;
                left: 50%;
                transform: translate(-50%);
                width: 100%;
                opacity: 0;
                z-index: -1;
                transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
            }

            &:hover {
                .border-wrapper {
                    transform: translateY(20%);
                }

                span {
                    transform: translate(-50%, -30%);
                    opacity: 1;
                }
            }

        }
    }


}