.current-main-theme-selector {

    position: relative;

    .main-flavor-label {
        font-size: 2rem;
    }

    .elements-wrapper {
        display: flex;
        flex-direction: row;


        .main-flavor-wrapper {
            width: 5vw;
            min-width: 70px;
            max-width: 100px;

            .main-flavor {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, auto);
                grid-column-gap: 0px;
                grid-row-gap: 0px;

                img {
                    grid-area: 1 / 1 / 2 / 2;
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    image-rendering: pixelated;
                    image-rendering: crisp-edges;
                    object-fit: contain;
                    justify-self: center;
                    align-self: center;
                }

                span {
                    grid-area: 2 / 1 / 3 / 2;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.3rem;
                }
            }
        }
    }


}