.main-menu {
    grid-area: 1 / 1 / 5 / 6;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;

    .user-profile {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 5%;
        aspect-ratio: 1 /1;
        max-width: 75px;
        min-width: 50px;
        cursor: pointer;

        &:hover {
            img {
                scale: 1.1;
            }
        }

        img {
            width: 100%;
            aspect-ratio: 1 / 1;
            transition: scale 0.3s ease-in-out;
        }
    }

    .options {
        width: 100%;
        height: max-content;
        margin-block: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        button {
            background-color: transparent;
            border: none;
            width: 25%;
            max-width: 300px;
            min-width: 65px;
            aspect-ratio: 1 / 1;
            position: relative;

            &:hover {
                img {
                    filter: drop-shadow(0px 0px 20px var(--color));
                    transform: scale(1.1);
                }

                .label {
                    opacity: 1;
                    transform: translateY(100%);
                }
            }

            &.add-dish {
                --color: #bb7747;
            }

            &.open-dish-list {
                --color: #595b6d;
            }

            &.list-dish {
                --color: #8e7c67;
            }

            img {
                width: 100%;
                aspect-ratio: 1 / 1;
                image-rendering: pixelated;
                filter: drop-shadow(0px 0px 0px var(--color));
                transition: filter 0.3s ease-in-out, transform 0.2s ease-in-out;
            }

            .label {
                position: absolute;
                bottom: 0px;
                transform: translateY(0%);
                width: 100%;
                left: 0;
                text-align: center;
                font-size: 25px;
                opacity: 0;
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            }
        }

        &:has(button.selected) {
            button:not(.selected) {
                animation: fadeOut 0.4s ease-in-out 0ms 1 forwards;
            }

            button.selected {
                animation: centerAnimation 0.4s ease-in-out 0ms 1 forwards;
            }

            button:hover {
                img {
                    filter: none;
                    transform: none;
                }

                .label {
                    opacity: 0;
                    transform: none;
                }
            }
        }

    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes centerAnimation {
    0% {
        scale: 1;
        opacity: 1;
        filter: brightness(100%);
    }

    50% {
        opacity: 1;
        filter: brightness(50%);
    }

    100% {
        scale: 10;
        opacity: 0;
        filter: brightness(10%);
    }
}