@use "../../utils/Variables.scss" as *;

.main-menu {
    grid-area: 1 / 1 / 5 / 6;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    h1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        margin: 0;
    }

    .user-profile {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 5%;
        aspect-ratio: 1 /1;
        max-width: 75px;
        min-width: 50px;
        cursor: pointer;

        img {
            image-rendering: pixelated;
        }

        &[data-open] {
            img {
                scale: 1.1;
            }

            .dropdown {
                // transform: scale(1, 1) translateY(100%);
                animation: fadeIn 0.3s ease-in-out 0ms 1 forwards;
            }
        }

        .user-icon {
            width: 100%;
            aspect-ratio: 1 / 1;
            transition: scale 0.3s ease-in-out;
        }

        .dropdown {
            transition: transform 0.3s ease-in-out;
            // transform: scale(0, 0) translateY(100%);
            animation: fadeOut 0.3s ease-in-out 0ms 1 forwards;
            transform-origin: 100% 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 20px;
            border-radius: 20px;
            box-shadow: -2px 2px 2px 1px rgba(255, 255, 255, 0.2);
            background-color: $gray-800;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            button {
                width: 100%;
                height: max-content;
                display: flex;
                flex-direction: row;
                // justify-content: center;
                align-items: center;
                padding: 0px 5px;
                background-color: $gray-700;
                gap: 10px;

                img {
                    width: 35px;
                    aspect-ratio: 1 / 1;
                }

                .label {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                }

            }
        }

        .login-dropdown {
            gap: 20px;
            width: 20vw;

            .action {
                width: 100%;
                min-width: 150px;
                max-width: 300px;
                height: max-content;
                font-size: 22px;
                background-color: $gray-700;
                border-radius: 10px;
                border: none;
                outline: none;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: $gray-900;
                }
            }

            .below {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            h3 {
                width: 100%;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                line-height: 1.2rem;
            }

            a {
                background-color: transparent;
                border: none;
                padding: 0;
            }

            input {
                width: 100%;
                min-width: 150px;
                max-width: 300px;
                height: max-content;
                font-size: 19px;
                background-color: $gray-600;
                border-radius: 10px;
                border: none;
                outline: none;
                padding: 10px;
            }
        }
    }

    .options {
        width: 100%;
        height: max-content;
        margin-block: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        button {
            background-color: transparent;
            border: none;
            width: 25%;
            max-width: 300px;
            min-width: 65px;
            aspect-ratio: 1 / 1;
            position: relative;

            &:hover {
                img {
                    filter: drop-shadow(0px 0px 20px var(--color));
                    transform: scale(1.1);
                }

                .label {
                    opacity: 1;
                    transform: translateY(100%);
                }
            }

            &.add-dish {
                --color: #bb7747;
            }

            &.open-shared-dish {
                --color: #595b6d;
            }

            &.list-dish {
                --color: #8e7c67;
            }

            img {
                width: 100%;
                aspect-ratio: 1 / 1;
                image-rendering: pixelated;
                filter: drop-shadow(0px 0px 0px var(--color));
                transition: filter 0.3s ease-in-out, transform 0.2s ease-in-out;
            }

            .label {
                position: absolute;
                bottom: 0px;
                transform: translateY(0%);
                width: 100%;
                left: 0;
                text-align: center;
                font-size: 25px;
                opacity: 0;
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            }
        }

        &:not([data-hasdownloaded]) {

            .add-dish,
            .open-shared-dish {
                pointer-events: none;
                filter: brightness(50%) saturate(50%) grayscale(100%);
            }
        }


        &:has(button.selected) {
            button:not(.selected) {
                animation: fadeOut 0.4s ease-in-out 0ms 1 forwards;
            }

            button.selected {
                animation: centerAnimation 0.4s ease-in-out 0ms 1 forwards;
            }

            button:hover {
                img {
                    filter: none;
                    transform: none;
                }

                .label {
                    opacity: 0;
                    transform: none;
                }
            }
        }

    }


    .has-to-download {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #350000;
        border-radius: 20px;
        border: 1px solid white;
        padding: 20px;
        display: flex;
        flex-direction: column;

        h3 {
            width: 100%;
            font-size: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            line-height: 2rem;
            margin-bottom: 10px;
        }

        span {
            font-size: 1.1rem;
            margin-bottom: 25px;
        }

        button {
            font-size: 1.4rem;
            line-height: 1.1rem;
        }

        .successfull-download {
            color: #008600;
        }

        .progress-bar {
            width: 100%;
            height: 25px;
            position: relative;
            border-radius: 100px;
            background-color: $gray-800;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .label {
                margin: 0;
                padding: 0;
                user-select: none;
                z-index: 10000;
                font-size: 1.5rem;
            }

            .progress {
                width: var(--progress-percentage);
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $themeColor2;
            }
        }
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes centerAnimation {
    0% {
        scale: 1;
        opacity: 1;
        filter: brightness(100%);
    }

    50% {
        opacity: 1;
        filter: brightness(50%);
    }

    100% {
        scale: 10;
        opacity: 0;
        filter: brightness(10%);
    }
}

@keyframes fadeOut {
    0% {
        transform: scaleY(1) scaleX(1) translateY(100%);
    }

    60% {
        transform: scaleY(0.1) scaleX(1) translateY(100%);
    }

    100% {
        transform: scaleY(0) scaleX(0) translateY(100%);
    }
}

@keyframes fadeIn {
    0% {
        transform: scaleY(0) scaleX(0) translateY(100%);
    }

    40% {
        transform: scaleY(0.1) scaleX(1) translateY(100%);
    }

    100% {
        transform: scaleY(1) scaleX(1) translateY(100%);
    }
}