$size: 80px;
$margin: 20px;

.volume-control-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .volume-control {
        position: relative;
        width: $size;
        height: $size;
    }

    .knob {
        width: calc($size - $margin);
        height: calc($size - $margin);
        background: #444;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        transition: transform 0.3s ease, box-shadow 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .volume-display {
        font-size: 12px;
        font-weight: bold;
        // color: #00ffff;
        color: #ffffff;
        // text-shadow: 0 0 4px #00ffff;
        text-shadow: 0 0 4px var(--main-color);
        // user-select: none;
        font-family: 'Courier New', monospace;
        // pointer-events: none;
        transform: rotate(0deg);
        transition: transform 0.3s ease;
        width: 80%;
        background-color: transparent;
        outline: none;
        border: none;
        text-align: center;

    }

    span.volume-display {
        user-select: none;
    }


    .ticks {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    $tickActiveColor: var(--main-color);
    $tickInactiveColor-Major: #777;
    $tickInactiveColor-Secondary: #555;
    $tickInactiveColor-Unknown: #444;

    .tick {
        position: absolute;
        width: 1px;
        height: 3px;
        background: $tickInactiveColor-Unknown;
        top: 0;
        left: 50%;
        transform-origin: center calc($size / 2);
        opacity: 0.3;
        transition: background 0.2s, opacity 0.2s;

        &.major {
            background: $tickInactiveColor-Major;
        }

        &.secondary {
            background: $tickInactiveColor-Secondary;
        }

        &.active {
            background-color: $tickActiveColor;
            opacity: 1;
        }

    }

    .tick.secondary {
        width: 1px;
        height: 6px;
    }

    .tick.major {
        width: 1.3px;
        height: 10px;
    }

    .label {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin: 0;
        padding: 0;
        user-select: none;
        pointer-events: none;
        color: var(--main-color);
    }

}