.flavor-synth-controls {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto max-content max-content max-content auto auto auto;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;

    button {
        color: var(--main-color);

        &:hover {
            border: 1px solid var(--secondary-color);
        }
    }

    .skip-prev,
    .skip-next {
        font-family: Fontawesome;
        font-size: 22px;
        aspect-ratio: 1 / 1;
        padding: 0px;
        margin: 0;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        justify-self: center;
        align-self: center;
    }


    .play {
        font-family: Fontawesome;
        font-size: 25px;
        aspect-ratio: 1 / 1;
        padding: 0px;
        margin: 0;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        justify-self: center;
        align-self: center;
    }


    .statistics {
        grid-area: 1 / 1 / 2 / 3;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .activeFlavorsPlaying {}

        .totalFlavorsUsed {}
    }



    .skip-prev {
        grid-area: 1 / 3 / 3 / 4;
    }

    .play {
        grid-area: 1 / 4 / 3 / 5;
    }


    .skip-next {
        grid-area: 1 / 5 / 3 / 6;
    }

    .volumes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        grid-area: 1 / 6 / 3 / 9;

        .volume {
            // grid-area: 1 / 6 / 3 / 7;
        }

        .mainFlavorVolume {
            // grid-area: 1 / 7 / 3 / 8;
        }

        .masterVolume {
            // grid-area: 1 / 8 / 3 / 9;
        }
    }

}

.div1 {
    grid-area: 1 / 3 / 3 / 4;
}

.div2 {
    grid-area: 1 / 4 / 3 / 5;
}

.div3 {
    grid-area: 1 / 5 / 3 / 6;
}

.div4 {
    grid-area: 1 / 1 / 2 / 3;
}

.div5 {
    grid-area: 2 / 1 / 3 / 3;
}

.div6 {
    grid-area: 1 / 6 / 3 / 7;
}

.div7 {
    grid-area: 1 / 7 / 3 / 8;
}