.flavor-synth-controls {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto max-content max-content max-content auto auto max-content;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;

    &[data-readonly] {

        .share,
        .save {
            display: none;
            pointer-events: none;
        }

        .fork {
            display: block !important;
            pointer-events: all !important;
        }
    }

    button {
        // color: var(--main-color);
        border: none;
        outline: none;
        background-color: transparent;

        transition: transform 0.2s ease-in-out, filter 0.3s ease-in-out;

        &:hover {
            // border: 1px solid var(--secondary-color);
            transform: scale(1.1);
            filter: contrast(110%);
        }
    }

    .action-btn {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .skip-prev,
    .skip-next {
        font-family: Fontawesome;
        font-size: 22px;
        aspect-ratio: 1 / 1;
        padding: 0px;
        margin: 0;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        justify-self: center;
        align-self: center;
    }


    .play {
        font-family: Fontawesome;
        font-size: 25px;
        aspect-ratio: 1 / 1;
        padding: 0px;
        margin: 0;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        justify-self: center;
        align-self: center;
    }


    .statistics {
        grid-area: 1 / 1 / 2 / 3;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        user-select: none;
        pointer-events: none;

        .activeFlavorsPlaying {}

        .totalFlavorsUsed {}
    }



    .skip-prev {
        grid-area: 1 / 3 / 2 / 4;
    }

    .play {
        grid-area: 1 / 4 / 2 / 5;
    }


    .skip-next {
        grid-area: 1 / 5 / 2 / 6;
    }

    .volumes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        grid-area: 1 / 6 / 2 / 8;
        padding-top: 20px;
        background: rgba(0, 0, 0, 0.4);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        .volume {
            // grid-area: 1 / 6 / 3 / 7;
        }

        .mainFlavorVolume {
            // grid-area: 1 / 7 / 3 / 8;
        }

        .masterVolume {
            // grid-area: 1 / 8 / 3 / 9;
        }
    }



    .buttons {
        grid-area: 1 / 8 / 2 / 9;
        width: max-content;
        justify-self: center;
        align-self: center;
        display: grid;
        grid-template-columns: max-content;

        .fork {
            display: none;
            pointer-events: none;
            scale: 1.2;
        }

        .action-btn,
        .action-share {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

}

.div1 {
    grid-area: 1 / 3 / 3 / 4;
}

.div2 {
    grid-area: 1 / 4 / 3 / 5;
}

.div3 {
    grid-area: 1 / 5 / 3 / 6;
}

.div4 {
    grid-area: 1 / 1 / 2 / 3;
}

.div5 {
    grid-area: 2 / 1 / 3 / 3;
}

.div6 {
    grid-area: 1 / 6 / 3 / 7;
}

.div7 {
    grid-area: 1 / 7 / 3 / 8;
}