.flavor-synth {
    overflow-y: auto;
    max-height: 100%;
    overflow-x: hidden;
    scrollbar-width: thin;

    .addLine {
        width: 100%;
        padding: 0px;
        font-size: 4em;
        line-height: 0.7em;
        margin-top: 10px;
    }
}