div:has(>.flavor-statistic) {
    background-image: linear-gradient(135deg, var(--secondary-color) 0%, var(--main-color) 50%, var(--secondary-color) 100%);

    background-origin: border-box;
    background-clip: border-box, content-box;
    border: 3px solid transparent;
    border-radius: 16px;

}

.totalFlavorsUsed {
    .icon {
        background: linear-gradient(225deg, color-mix(in srgb,
                    var(--main-color) 50%,
                    #eac2f9 50%) 0%, color-mix(in srgb,
                    var(--secondary-color) 50%,
                    #afd8fa 50%) 100%);
        mask-image: url(./masks/statistics/total_black_white.png);
        mask-position: center center;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-mode: luminance;
    }
}

.activeFlavorsPlaying {
    .icon {
        background: linear-gradient(225deg, color-mix(in srgb,
                    var(--main-color) 50%,
                    #eac2f9 50%) 0%, color-mix(in srgb,
                    var(--secondary-color) 50%,
                    #afd8fa 50%) 100%);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        mask-image: url(./masks/statistics/stack_black_white.png);
        mask-position: center center;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-mode: luminance;
    }
}

.flavor-statistic {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    height: 100%;
    width: 250px;
    background-color: black;


    border-radius: 15px;

    padding-block: 5px;
    padding-inline: 15px;

    .icon {
        grid-area: 1 / 1 / 2 / 2;
        max-height: 30px;
        aspect-ratio: 1 / 1;
        padding: 5px;
        width: 40px;
    }

    .value {
        grid-area: 1 / 2 / 2 / 3;
        border-image: linear-gradient(to right, rgba(var(--secondary-color-rgb), 0) 0%, var(--secondary-color) 40%, var(--secondary-color) 60%, rgba(var(--secondary-color-rgb), 0) 100%) 1;
        border-bottom-width: 2px;
        border-bottom-style: solid;

        border-top: none;
        border-left: none;
        border-right: none;
        height: max-content;
        font-size: 25px;
        align-self: start;
        line-height: 1.2em;
    }

    .desc {
        grid-area: 2 / 1 / 3 / 3;
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0.5;
        font-size: 16px;
        line-height: 1.1em;
    }

}