#root {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;

    .flavor-synth {
        grid-area: 1 / 1 / 2 / 2;
    }

    .flavor-drag-n-drop-list {
        grid-area: 1 / 2 / 2 / 3;
    }
}

html,
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}