@use "../utils/Variables.scss" as *;

#root {
    display: grid;
    grid-template-columns: auto 1fr max-content;
    grid-template-rows: min-content min-content 1fr max-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;

    background-image: url("./imgs/main_background.png"), url("./imgs/repeatable_background.png");
    background-size: 100% auto, 100% auto;
    background-position: bottom, 0%;
    background-repeat: no-repeat, repeat-y;
    image-rendering: pixelated;
    filter: contrast(110%);

    &>* {
        backdrop-filter: brightness(60%) contrast(110%);
    }

    &>.close {
        position: fixed;
        top: 20px;
        right: 250px;
        background-color: transparent;
        border: none;
        font-size: 5rem;
        padding: 0;
        margin: 0;
        line-height: 1rem;
        backdrop-filter: none;
        transition: scale 0.3s ease-in-out;

        &:hover {
            scale: 1.1;
        }
    }

    .current-main-theme-selector {
        grid-area: 1 / 1 / 3 / 2;
        height: min-content;
    }

    .title {
        grid-area: 1 / 2 / 3 / 3;
        display: flex;
        flex-direction: column;


        .bg-wrapper {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 100%;

            .img-wrapper {
                display: grid;
                grid-template-columns: max-content 1fr max-content;
                grid-template-rows: 1fr;
                grid-area: 1/1/2/2;

                .bg-image-start {
                    height: 100%;
                }

                .bg-image {
                    background-image: url("./imgs/nameTag/name_tag_main.png");
                    background-position: center;
                    background-repeat: repeat-x;
                    background-size: auto 100%;
                }

                .bg-image-end {
                    // background-image: url("./imgs/nameTag/name_tag_right.png");
                    // background-position: right;
                    // background-repeat: no-repeat;
                    // background-size: auto 100%;
                    // aspect-ratio: 3/47;
                    height: 100%;
                }
            }

        }

        .title-input {
            grid-area: 1/1/2/2;
            margin: 0;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
            border: none;
            outline: none;
            white-space: nowrap;
            min-width: 50px;
            min-height: 4rem;
            background-color: transparent;
            width: calc(100% - 50px);
            margin-left: auto;


            // background-image:
            //     url("./imgs/nameTag/name_tag_left.png"),
            //     url("./imgs/nameTag/name_tag_right.png");

            // background-position:
            //     ,
            //     right;

            // background-repeat:
            //     no-repeat,
            //     no-repeat;

            // background-size:
            //     auto 100%,
            //     auto 100%;


        }

        .subtitle {
            height: min-content;
            font-size: 2rem;
        }
    }


    .flavor-drag-n-drop-list {
        grid-area: 1 / 3 / 5 / 4;
    }


    .flavor-synth {
        grid-area: 3 / 1 / 4 / 3;
    }

    .flavor-synth-controls {
        grid-area: 4 / 1 / 5 / 3;
    }

}

html,
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.Toastify {
    z-index: 100000000000;
    position: fixed;
    bottom: 0;
    right: 0;
}

* {
    user-select: none;
}

.save-message {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px 10px;
    border-top-right-radius: 20px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: none;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &[data-open] {
        opacity: 1;
    }
}