#root {
    display: grid;
    grid-template-columns: auto 1fr max-content;
    grid-template-rows: min-content min-content 1fr max-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;

    .current-main-theme-selector {
        grid-area: 1 / 1 / 3 / 2;
        height: min-content;
    }

    .title {
        grid-area: 1 / 2 / 3 / 3;
        display: flex;
        flex-direction: column;

        h1 {
            margin: 0;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
        }

        .subtitle {
            height: min-content;
            font-size: 2rem;
        }
    }


    .flavor-drag-n-drop-list {
        grid-area: 1 / 3 / 5 / 4;
    }


    .flavor-synth {
        grid-area: 3 / 1 / 4 / 3;
    }

    .flavor-synth-controls {
        grid-area: 4 / 1 / 5 / 3;
    }

}

html,
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}