.main-flavor-selection-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    padding: 20px;
    background-color: black;
    display: grid;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;

    &[open] {
        opacity: 1;
        pointer-events: all;
    }

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    h1 {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: 4rem;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-family: PixelFont;
        font-size: 2rem;
        background-color: transparent;
        border: none;
    }

    .flavor-list {
        grid-area: 2 / 1 / 3 / 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .main-flavor-entry {
            width: 20vw;
            aspect-ratio: 1 / 1;
            position: relative;
            transition: transform 0.3s ease-in-out;
            cursor: pointer;

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 60%;
                height: 60%;
                image-rendering: pixelated;
            }

            label {
                position: absolute;
                top: 100%;
                left: 50%;
                font-size: 3rem;
                transform: translate(-50%, -100%);
                height: min-content;
                transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
                opacity: 0;
                z-index: -1;
            }

            &:hover {
                label {
                    transform: translate(-50%, -50%);
                    opacity: 1;
                }

                transform: translate(0px, -10%);
            }

            .bgImage {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                &.main-color {

                    background-color: var(--main-color);
                    mask-image: url("./masks/background-main-flavor-main-mask_alpha.png");
                    // mask-image: linear-gradient(to bottom, black, white);
                    mask-position: 50% 50%;
                    mask-repeat: no-repeat;
                    mask-size: cover;
                    mask-mode: alpha;
                }

                &.main-color-2 {
                    background-color: var(--vine-color);

                    mask-image: url("./masks/background-main-flavor-vines-mask_alpha.png");
                    mask-position: 50% 50%;
                    mask-repeat: no-repeat;
                    mask-size: cover;
                }
            }


            justify-self: center;
            align-self: center;
        }
    }

}