@use "../../utils/Variables.scss" as *;


.flavor-drag-n-drop-list {
    transition: opacity 0.4s ease-in-out;
}


#root:has(.share-dialog-wrapper.visible.login) .flavor-drag-n-drop-list {
    opacity: 0;
    grid-area: 1/1/5/4;
}

.share-dialog-wrapper {
    grid-area: 1/1/5/3;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    backdrop-filter: blur(10px);

    &:not(.login) {
        .background-image {
            opacity: 0 !important;
        }
    }


    .share-dialog {
        position: relative;
        margin: 40px;
        padding: 20px;
        border-radius: 20px;
        justify-self: center;
        align-self: center;
        background-color: rgba(0, 0, 0, 0.9);
        height: calc(100% - 120px);
        border: 1px solid var(--secondary-color);
        box-shadow: 0 0 30px 1px rgba(var(--main-color-rgb), 0.4);

        $gap: 40px;
        display: grid;
        grid-template-columns: calc(50% - #{calc($gap/4)}) calc(50% - #{calc($gap/4)});
        grid-template-rows: calc(10% - 15px) calc(30% - 15px) calc(30% - 15px) calc(30% - 15px);
        grid-column-gap: 20px;
        grid-row-gap: 20px;



        .background-image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            overflow: hidden;
            object-fit: contain;
            image-rendering: pixelated;
            z-index: 0;
            filter: blur(12px) brightness(40%);
            opacity: 1;
            transition: opacity 0.5s ease-in-out;

            &[src*="workbench.png"] {
                background-color: #242428;
            }
        }

        *:not(.background-image) {
            z-index: 100;
        }


        h1 {
            grid-area: 1 / 1 / 2 / 3;
            width: calc(100% - #{$gap});
            height: calc(100% - #{$gap});
            padding: 20px;
        }

        .share-flavors {
            grid-area: 2 / 1 / 3 / 3;
            width: calc(100% - #{$gap});
            height: calc(100% - #{$gap});
            padding: 20px;
        }

        .share-image {
            grid-area: 3 / 1 / 4 / 3;
            width: calc(100% - #{$gap});
            height: calc(100% - #{$gap});
            padding: 20px;
        }

        .share-code {
            grid-area: 4 / 1 / 5 / 2;
            width: calc(100% - #{$gap});
            height: calc(100% - #{$gap});
            padding: 20px;
        }

        .share-url {
            grid-area: 4 / 2 / 5 / 3;
            width: calc(100% - #{$gap});
            height: calc(100% - #{$gap});
            padding: 20px;
        }

        .action-buttons {
            position: absolute;
            top: 20px;
            right: 20px;

            .close {
                font-size: 4rem;
                aspect-ratio: 1 / 1;
                width: max-content;
                line-height: 0;
                padding: 0;
                margin: 0;
                background-color: transparent;
                border: none;
                transition: color 0.2s ease-in-out;

                &:hover {
                    color: var(--secondary-color);
                }
            }
        }

    }

    &.visible {
        opacity: 1;
        pointer-events: all;
        z-index: 100000000;
    }

    h1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 4rem;
        margin: 0;
    }

    h2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2em;
        margin: 0;
    }


    // Flavors share


    .share-default-layout {
        // width: 50%;
        margin-inline: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, max-content);
        row-gap: 10px;
        background-color: rgba(var(--secondary-color-rgb), 0.2);
        border: 1px solid rgba(var(--main-color-rgb), 0.2);
        position: relative;
        border-radius: 20px;

        h2 {
            grid-area: 1 / 1 / 2 / 2;
            margin-bottom: 0;
        }

        span:not(.url) {
            grid-area: 2 / 1 / 3 / 2;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0;
            font-size: 20px;
            opacity: 0.4;
        }

        .content {
            grid-area: 3 / 1 / 4 / 2;
        }

        .buttons {
            position: absolute;
            top: 10px;
            right: 10px;
            // grid-area: 4 / 1 / 5 / 2;
            width: max-content;
            justify-self: end;
            align-self: end;
            display: flex;
            gap: 20px;
        }
    }

    .share-flavors {
        .combo {
            // grid-area: 3 / 1 / 4 / 2;
            max-width: 60%;
            margin-inline: auto;
            width: 100%;
            aspect-ratio: 6 / 1;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            column-gap: 20px;

            .share-flavors-flavor-no-selected,
            .share-flavors-flavor {
                width: calc(100% - 40px);
                aspect-ratio: 1 / 1;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: rgba(255, 255, 255, 0.5);
                position: relative;
                padding: 20px;

                img {
                    image-rendering: pixelated;
                }

                .bgImage {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    &.main-color {

                        background-color: var(--main-color);
                        mask-image: url("./masks/background-main-flavor-main-mask_alpha.png");
                        // mask-image: linear-gradient(to bottom, black, white);
                        mask-position: 50% 50%;
                        mask-repeat: no-repeat;
                        mask-size: contain;
                        mask-mode: alpha;
                        image-rendering: pixelated;
                    }

                    &.main-color-2 {
                        background-color: var(--vine-color);

                        mask-image: url("./masks/background-main-flavor-vines-mask_alpha.png");
                        mask-position: 50% 50%;
                        mask-repeat: no-repeat;
                        mask-size: contain;
                        image-rendering: pixelated;
                    }
                }


            }
        }

        .publish {
            position: absolute;
            bottom: 20px;
            right: 20px;
            font-size: 20px;
            padding: 5px 10px;
        }

    }

    .share-image {

        .generate-image,
        .no-generate-image {
            width: calc(150px - 40px);
            aspect-ratio: 1 / 1;
            margin-inline: auto;
            background-color: rgba(var(--main-color-rgb), 0.4);
            border-radius: 20px;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            object-fit: contain;
        }
    }

    .share-code {
        .content {
            display: flex;
            flex-direction: row;
            gap: 10px;
            width: max-content;
            margin-inline: auto;

            .digit {
                font-size: 3em;
                padding: 5px;

                &:nth-of-type(3) {
                    margin-right: 10px;
                }
            }
        }
    }

    .share-url {
        .content {
            display: grid;
            grid-template-columns: 1fr max-content;
            grid-template-rows: 1fr;

            .url {
                grid-area: 1 / 1 / 2 / 2;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: 0;
                font-size: 22px;
            }

            .copy {
                grid-area: 1 / 2 / 2 / 3;
                width: max-content;
                font-size: 20px;
                padding: 5px 10px;
            }
        }
    }


    &.login .share-dialog {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        h1 {
            width: 100%;
            height: max-content;
        }

        .disclaimer {
            width: 60%;
            font-size: 20px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.7;
        }

        .center {
            width: 100%;
            margin-block: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .login-div {
            width: 50%;
            max-width: 300px;
            min-width: 100px;
            display: grid;
            grid-template-columns: 1fr max-content;
            grid-template-rows: repeat(6, auto);
            grid-column-gap: 0px;
            grid-row-gap: 10px;
            background-color: rgba(var(--secondary-color-rgb), 0.3);
            padding: 20px;
            border-radius: 20px;

            h3 {
                grid-area: 1 / 1 / 2 / 3;
                font-size: 3rem;
                line-height: 1rem;
                margin: 10px;
                text-align: center;
            }

            input {
                width: calc(100% - 20px);
                height: calc(100% - 20px);
                border: none;
                outline: none;
                padding: 10px;
                border-radius: 10px;
                font-size: 24px;
            }

            .email {
                grid-area: 2 / 1 / 3 / 3;
            }

            .username {
                grid-area: 3 / 1 / 4 / 3;
            }

            .password {
                grid-area: 4/1/5/3;
            }

            .login {
                grid-area: 5 / 1 / 6 / 3;
                font-size: 20px;
            }

            .dontHaveAccount {
                grid-area: 6 / 1 / 7 / 3;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0;
                font-size: 18px;
                line-height: 1em;
                flex-wrap: wrap;

                a {
                    border: none;
                    background-color: transparent;
                    font-size: 18px;
                    line-height: 1em;
                    margin: 0;
                    padding: 0;
                    margin-left: 10px;
                }
            }
        }

        .microcopy {
            margin-top: 0;
            opacity: 0.4;
            color: white;
            text-align: center;
            user-select: none;
            pointer-events: none;
        }

        .share-anyways {
            font-size: 25px;
            margin-top: 3rem;
        }
    }

}