.share-dialog-wrapper {
    grid-area: 1/1/5/3;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    backdrop-filter: blur(10px);

    .share-dialog {
        margin: 40px;
        border-radius: 20px;
        justify-self: center;
        align-self: center;
        background-color: rgba(0, 0, 0, 0.9);
        height: calc(100% - 80px);
        border: 1px solid var(--secondary-color);
        box-shadow: 0 0 30px 1px rgba(var(--main-color-rgb), 0.4);
    }

    &.visible {
        opacity: 1;
        pointer-events: all;
        z-index: 100000000;
    }

    h1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 4rem;
        margin: 0;
    }

    h2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2em;
        margin: 0;
    }


    // Flavors share

    .share-flavors {
        width: 50%;
        margin-inline: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, max-content);
        row-gap: 10px;

        h2 {
            grid-area: 1 / 1 / 2 / 2;
            margin-bottom: 0;
        }

        span {
            grid-area: 2 / 1 / 3 / 2;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0;
            font-size: 20px;
            opacity: 0.4;
        }

        .combo {
            grid-area: 3 / 1 / 4 / 2;
            width: 100%;
            aspect-ratio: 6 / 1;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            column-gap: 20px;

            .share-flavors-flavor-no-selected,
            .share-flavors-flavor {
                width: calc(100% - 40px);
                aspect-ratio: 1 / 1;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: rgba(255, 255, 255, 0.5);
                position: relative;
                padding: 20px;

                img {
                    image-rendering: pixelated;
                }

                .bgImage {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    &.main-color {

                        background-color: var(--main-color);
                        mask-image: url("./masks/background-main-flavor-main-mask_alpha.png");
                        // mask-image: linear-gradient(to bottom, black, white);
                        mask-position: 50% 50%;
                        mask-repeat: no-repeat;
                        mask-size: contain;
                        mask-mode: alpha;
                        image-rendering: pixelated;
                    }

                    &.main-color-2 {
                        background-color: var(--vine-color);

                        mask-image: url("./masks/background-main-flavor-vines-mask_alpha.png");
                        mask-position: 50% 50%;
                        mask-repeat: no-repeat;
                        mask-size: contain;
                        image-rendering: pixelated;
                    }
                }


            }
        }

        .buttons {
            grid-area: 4 / 1 / 5 / 2;
            width: max-content;
            justify-self: end;
            align-self: end;
            display: flex;
            gap: 20px;
        }

    }

}