@use "../../../../utils/clamp.scss" as *;
@use "../../../../utils/Variables.scss" as *;

.tutorial {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000000000;
    backdrop-filter: brightness(60%) contrast(110%) blur(4px) !important;
}

.tutorial-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(ellipse, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url(./imgs/tutorial/tutorial-background.png);
    background-repeat: no-repeat, repeat;
    background-position: center, center;
    background-size: 100% 100%, auto 74%;

    &.small-image {
        div.image {
            width: 10vw !important;
            min-width: 400px !important;
            aspect-ratio: 3 / 1;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                min-width: unset !important;
                width: min-content !important;
                height: 100% !important;
            }
        }
    }

    padding: 30px;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div.image {
            height: auto;
            width: 60vw;
            min-width: 500px;
            max-width: 100vw;
            max-height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                object-fit: contain;
                max-height: 60vh;
                max-width: 100%;
            }
        }

        .subtitle {
            width: 100%;
            display: inline;
            text-align: center;
            font-size: clampDef(1.5em);
            line-height: clampDef(1.1em);
            margin-bottom: 10px;

            button {
                background-color: transparent;
                padding: 0;
                margin: 0;
                border: none !important;
                color: $themeColor4;
                text-decoration: underline;
            }
        }

    }

    h2 {
        font-size: clampDef(3em);
        line-height: clampDef(1em);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-block: 10px;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: clampDef(3em);
        line-height: 0em;
        aspect-ratio: 1 / 1;
        width: clampDef(1em);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: transparent;
        border: none !important;
        transition: scale 0.3s ease-in-out;

        &:hover {
            scale: 1.1;
        }
    }

    .progress {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: clampDef(1.5em);
        line-height: clampDef(1em);
    }

    .buttons {
        width: 100%;
        display: flex;
        gap: 20px;
        flex-direction: row-reverse;

        button {
            padding: 0;
            margin: 0;
            background-color: transparent;
            border: none !important;
            transition: scale 0.3s ease-in-out;

            &:hover {
                scale: 1.1;
            }
        }
    }
}