#root:has(.download-prompt) .loading-div {
    backdrop-filter: none !important;
}

.loading-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000000;

    .loading-animation {
        width: min(50vw, 80vh);
        aspect-ratio: 1 / 1;
        image-rendering: pixelated;
    }

    .loading-span {
        font-size: 5rem;
        text-rendering: optimizeLegibility !important;
        display: flex;
        text-shadow: 0px 4px 5px black;
        margin-bottom: 50px;

        &::after {
            content: "";
            animation: dots 1500ms ease-in-out 0ms infinite forwards;
            font-size: 5rem;
            text-wrap: nowrap;
            white-space: pre;
            width: 50px !important;
            display: block;
        }
    }
}

@keyframes dots {
    0% {
        content: "";
    }

    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75% {
        content: "...";
    }
}