@use "../../utils/Variables.scss" as *;

#root:has(.dish-list.visible) {
    overflow-y: auto;
}

$listBG: $gray-400;

.dish-list {
    grid-area: 1/1/5/6;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow-y: auto;

    .top,
    .middle,
    .bottom {
        width: 50%;
        background-position: 0% 0%;
        background-size: 100% auto;
        position: relative;
        image-rendering: pixelated;
    }

    .top {
        aspect-ratio: 88/34;
        background-image: url("./imgs/dishList/dish-list-background-top.png");
        background-repeat: no-repeat;
    }

    .middle {
        background-image: url("./imgs/dishList/dish-list-background-main.png");
        background-repeat: repeat-y;
        display: flex;
        flex-direction: column;
    }

    .bottom {
        aspect-ratio: 88/17;
        background-image: url("./imgs/dishList/dish-list-background-bottom.png");
        background-repeat: no-repeat;
    }

    .close {
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 4rem;
        line-height: 2rem;
        background-color: transparent;
        border: none;
        transition: transform 0.2s ease-in-out;
        transform-origin: 50% 50%;
        padding: 0px;

        &:hover {
            transform: scale(1.2);
        }
    }

    h1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -100%);
        color: $gray-900;
        font-size: 5rem;
    }

    h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-size: 3rem;
        justify-self: center;
        align-self: center;
        color: $gray-800;

        a {
            font-size: 1.5rem;
            background-color: transparent;
            padding: 0;
            margin: 0;
            border: none;
        }
    }

    .options {
        @extend .pixeled-div;
        // @include pixeled-div(var(--width), var(--height));
        padding: 5px 10px;
        background-color: $gray-500;
        width: max-content;
        position: fixed;
        top: var(--top);
        left: var(--left);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        z-index: 100000;
        pointer-events: none;

        &.opened {
            opacity: 1;
            pointer-events: all;
        }

        button {
            border: none;
            padding: 0;
            font-size: 20px;
            background-color: transparent;
            transition: scale 0.3s ease-in-out;
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                scale: 1.1;
            }
        }


    }

    .list {
        width: 80%;
        min-height: 50vh;
        margin: 0;
        padding: 0;
        margin-inline: auto;
        list-style-type: none;

        li {
            width: 90%;
            margin-inline: auto;
            padding: 20px;
            display: grid;
            grid-template-columns: 10% calc(60% - 40px) 30%;
            grid-template-rows: repeat(2, auto);
            grid-column-gap: 20px;
            grid-row-gap: 0px;
            margin-block: 20px;
            image-rendering: pixelated;
            position: relative;
            background-color: transparent;
            z-index: 10;
            color: $gray-700;
            background-color: $listBG;
        }
    }

    .list:not(.public) li {

        span {
            line-height: 1rem;
        }

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        $bg: rgba(0, 0, 0, 0.4);

        // .bg {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     display: grid;
        //     z-index: -1;
        //     grid-template-columns: max-content 1fr max-content;
        //     grid-template-rows: 1fr;

        //     .left {
        //         mask-image: url("./imgs/dishList/list-entry-mask-left_alpha.png");
        //         mask-position: left;
        //         mask-size: auto 100%;
        //         mask-mode: alpha;
        //         background-color: $bg;
        //         aspect-ratio: 3 / 13;
        //         mask-repeat: no-repeat;
        //         height: 100%;
        //     }

        //     .center {
        //         background-color: $bg;
        //         width: 100%;
        //     }

        //     .right {
        //         mask-image: url("./imgs/dishList/list-entry-mask-right_alpha.png");
        //         mask-position: right;
        //         mask-size: auto 100%;
        //         mask-mode: alpha;
        //         background-color: $bg;
        //         aspect-ratio: 3 / 13;
        //         mask-repeat: no-repeat;
        //         height: 100%;
        //     }
        // }

        .ai-image {
            grid-area: 1 / 1 / 3 / 2;
            display: grid;
            // grid-template-columns: 100%;
            // grid-template-rows: 1fr;
            // justify-content: center;
            // align-items: center;
            position: relative;

            img {
                height: 90%;
                opacity: 0.6;
                filter: grayscale(90%);
                margin: auto;
                // grid-area: 1 / 1 / 2 / 2;
            }

            .image-btn {
                // grid-area: 1 / 1 / 2 / 2;
                background-color: transparent !important;
                border: none !important;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    img {
                        scale: 1.1;
                        opacity: 1 !important;
                    }
                }

                img {
                    aspect-ratio: 1 / 1;
                    object-fit: contain;
                    max-width: 60%;
                    max-height: 60%;
                    transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
                    filter: none;
                }

            }
        }

        .dish-name {
            grid-area: 1 / 2 / 2 / 3;
            width: max-content;
            font-size: 2rem;
            max-width: 100%;
            height: max-content;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: left;
            display: block;
        }

        .dish-creation-date {
            grid-area: 1 / 3 / 2 / 4;
            font-size: 1.5rem;
            text-align: right;
        }

        .dish-created-by {
            grid-area: 2 / 2 / 3 / 3;
            opacity: 0.4;
            font-size: 1.5rem;
        }

        .dish-publish-state {
            grid-area: 2 / 3 / 3 / 4;
            text-align: right;
            width: 100%;

            img {
                height: 20px;
                aspect-ratio: 46 / 16;
            }
        }
    }

    .list.public li {

        span {
            line-height: 1rem;
        }

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        $bg: rgba(0, 0, 0, 0.4);

        // .bg {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     display: grid;
        //     z-index: -1;
        //     grid-template-columns: max-content 1fr max-content;
        //     grid-template-rows: 1fr;

        //     .left {
        //         mask-image: url("./imgs/dishList/list-entry-mask-left_alpha.png");
        //         mask-position: left;
        //         mask-size: auto 100%;
        //         mask-mode: alpha;
        //         background-color: $bg;
        //         aspect-ratio: 3 / 13;
        //         mask-repeat: no-repeat;
        //         height: 100%;
        //     }

        //     .center {
        //         background-color: $bg;
        //         width: 100%;
        //     }

        //     .right {
        //         mask-image: url("./imgs/dishList/list-entry-mask-right_alpha.png");
        //         mask-position: right;
        //         mask-size: auto 100%;
        //         mask-mode: alpha;
        //         background-color: $bg;
        //         aspect-ratio: 3 / 13;
        //         mask-repeat: no-repeat;
        //         height: 100%;
        //     }
        // }

        img {
            grid-area: 1 / 1 / 3 / 2;
            height: 100%;
            opacity: 0.6;
            filter: grayscale(90%);
        }

        .dish-name {
            grid-area: 1 / 2 / 2 / 3;
            width: max-content;
            font-size: 2rem;
            max-width: 100%;
            height: max-content;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: left;
            display: block;
        }

        .dish-creation-date {
            grid-area: 1 / 3 / 2 / 4;
            font-size: 1.5rem;
            text-align: right;
        }

        .dish-created-by {
            grid-area: 2 / 2 / 3 / 3;
            opacity: 0.4;
            font-size: 1.5rem;
        }

        .dish-publish-state {
            grid-area: 2 / 3 / 3 / 4;
            opacity: 0.4;
            font-size: 1.5rem;
            text-align: right;
            width: 100%;
        }
    }

    .progress-panel-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        --border-w: 5px;
        z-index: -1;

        .progress-panel {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

        }

        .bg {
            position: absolute;
            top: var(--border-w) !important;
            left: var(--border-w) !important;
            width: calc(100% - var(--border-w) * 2) !important;
            height: calc(100% - var(--border-w) * 2) !important;
            background-color: $listBG;
        }
    }


}