@use "../../utils/Variables.scss" as *;
@use "../../utils/clamp.scss" as *;

#root:has(.dish-list.visible) {
    overflow-y: auto;
}

$listBG: $gray-400;

.dish-list {
    grid-area: 1/1/5/6;


    .close {
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: clampDef(4em);
        line-height: 2rem;
        background-color: transparent;
        border: none;
        transition: transform 0.2s ease-in-out;
        transform-origin: 50% 50%;
        padding: 0px;

        &:hover {
            transform: scale(1.2);
        }
    }

    h1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -100%);
        color: $gray-900;
        font-size: clampDef(5em);
        height: 0;
        margin: 0;
    }

    h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-size: clampDef(3em);
        justify-self: center;
        align-self: center;
        color: $gray-800;

        a {
            font-size: clampDef(1.5em);
            background-color: transparent;
            padding: 0;
            margin: 0;
            border: none;
        }
    }

    .options {
        @extend .pixeled-div;
        // @include pixeled-div(var(--width), var(--height));
        padding: 5px 10px;
        background-color: $gray-500;
        width: max-content;
        position: fixed;
        top: var(--top);
        left: var(--left);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        z-index: 100000;
        pointer-events: none;

        &.opened {
            opacity: 1;
            pointer-events: all;
        }

        &:not(.opened) {

            .toggle-head,
            .progress-darken {
                transition: none !important;
            }
        }

        button {
            border: none;
            padding: 0;
            font-size: clampDef(1.8em);
            background-color: transparent;
            transition: scale 0.3s ease-in-out;
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                scale: 1.1;
            }
        }


    }

    .list {
        width: 80%;
        min-height: 50vh;
        margin: 0;
        padding: 0;
        margin-inline: auto;
        list-style-type: none;
    }

    .list:not(.public) li {

        span {
            line-height: 1rem;
        }

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        $bg: rgba(0, 0, 0, 0.4);

        // .bg {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     display: grid;
        //     z-index: -1;
        //     grid-template-columns: max-content 1fr max-content;
        //     grid-template-rows: 1fr;

        //     .left {
        //         mask-image: url("./imgs/dishList/list-entry-mask-left_alpha.png");
        //         mask-position: left;
        //         mask-size: auto 100%;
        //         mask-mode: alpha;
        //         background-color: $bg;
        //         aspect-ratio: 3 / 13;
        //         mask-repeat: no-repeat;
        //         height: 100%;
        //     }

        //     .center {
        //         background-color: $bg;
        //         width: 100%;
        //     }

        //     .right {
        //         mask-image: url("./imgs/dishList/list-entry-mask-right_alpha.png");
        //         mask-position: right;
        //         mask-size: auto 100%;
        //         mask-mode: alpha;
        //         background-color: $bg;
        //         aspect-ratio: 3 / 13;
        //         mask-repeat: no-repeat;
        //         height: 100%;
        //     }
        // }

    }

    .list.public li {

        span {
            line-height: 1rem;
        }

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        $bg: rgba(0, 0, 0, 0.4);

        // .bg {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     display: grid;
        //     z-index: -1;
        //     grid-template-columns: max-content 1fr max-content;
        //     grid-template-rows: 1fr;

        //     .left {
        //         mask-image: url("./imgs/dishList/list-entry-mask-left_alpha.png");
        //         mask-position: left;
        //         mask-size: auto 100%;
        //         mask-mode: alpha;
        //         background-color: $bg;
        //         aspect-ratio: 3 / 13;
        //         mask-repeat: no-repeat;
        //         height: 100%;
        //     }

        //     .center {
        //         background-color: $bg;
        //         width: 100%;
        //     }

        //     .right {
        //         mask-image: url("./imgs/dishList/list-entry-mask-right_alpha.png");
        //         mask-position: right;
        //         mask-size: auto 100%;
        //         mask-mode: alpha;
        //         background-color: $bg;
        //         aspect-ratio: 3 / 13;
        //         mask-repeat: no-repeat;
        //         height: 100%;
        //     }
        // }

        // img {
        //     grid-area: 1 / 1 / 3 / 2;
        //     height: 100%;
        //     opacity: 0.6;
        //     filter: grayscale(90%);
        // }

        // .dish-name {
        //     grid-area: 1 / 2 / 2 / 3;
        //     width: max-content;
        //     font-size: clampDef(2em);
        //     max-width: 100%;
        //     height: max-content;
        //     text-overflow: ellipsis;
        //     white-space: nowrap;
        //     overflow: hidden;
        //     text-align: left;
        //     display: block;
        // }

        // .dish-creation-date {
        //     grid-area: 1 / 3 / 2 / 4;
        //     font-size: clampDef(1.5em);
        //     text-align: right;
        // }

        // .dish-created-by {
        //     grid-area: 2 / 2 / 3 / 3;
        //     opacity: 0.4;
        //     font-size: clampDef(1.5em);
        // }

        // .dish-publish-state {
        //     grid-area: 2 / 3 / 3 / 4;
        //     opacity: 0.4;
        //     font-size: clampDef(1.5em);
        //     text-align: right;
        //     width: 100%;
        // }
    }

    .progress-panel-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        --border-w: 5px;
        z-index: -1;

        .progress-panel {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

        }

        .bg {
            position: absolute;
            top: var(--border-w) !important;
            left: var(--border-w) !important;
            width: calc(100% - var(--border-w) * 2) !important;
            height: calc(100% - var(--border-w) * 2) !important;
            background-color: $listBG;
        }
    }


}

.dish-list-default-item-wrapper {
    width: calc(95% - 40px);
    margin-inline: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: max-content auto auto;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    margin-block: 20px;
    image-rendering: pixelated;
    position: relative;
    background-color: transparent;
    z-index: 10;
    color: $gray-700;
    background-color: $listBG;


    .ai-image {
        grid-area: 1 / 1 / 3 / 2;
        display: grid;
        // grid-template-columns: 100%;
        // grid-template-rows: 1fr;
        // justify-content: center;
        // align-items: center;
        position: relative;

        img {
            height: 90%;
            opacity: 0.6;
            filter: grayscale(90%);
            margin: auto;
            // grid-area: 1 / 1 / 2 / 2;
        }

        .image-btn {
            // grid-area: 1 / 1 / 2 / 2;
            background-color: transparent !important;
            border: none !important;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                img {
                    scale: 1.1;
                    opacity: 1 !important;
                }
            }

            img {
                aspect-ratio: 1 / 1;
                object-fit: contain;
                max-width: 60%;
                max-height: 60%;
                transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
                filter: none;
            }

        }
    }

    .dish-name {
        grid-area: 1 / 2 / 2 / 3;
        width: max-content;
        font-size: clampDef(2em);
        max-width: 100%;
        height: max-content;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        display: block;
    }

    .dish-creation-date {
        grid-area: 1 / 3 / 2 / 4;
        font-size: clampDef(1.5em);
        text-align: right;
    }

    .dish-created-by {
        grid-area: 2 / 2 / 3 / 3;
        opacity: 0.4;
        font-size: clampDef(1.5em);
    }

    .dish-publish-state {
        grid-area: 2 / 3 / 3 / 4;
        text-align: right;
        width: 100%;

        img {
            height: clampDef(1.9em);
            aspect-ratio: 46 / 16;
        }
    }
}

.dish-list-item-wrapper {
    display: flex !important;
    flex-direction: column;
    margin-block: 20px;
    image-rendering: pixelated;
    position: relative;
    width: 95%;
    margin-inline: auto;

    .dish-list-item {
        padding: 20px;
        position: relative;
        background-color: transparent;
        z-index: 10;
        color: $gray-700;
        background-color: $listBG;
        // width: calc(100% - 40px);

        display: grid;
        grid-template-columns: max-content auto auto;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 20px;
        grid-row-gap: 0px;

        &::after {
            content: "Share Info >";
            grid-area: 2/1/3/4;
            text-align: center;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: end;
            transform: translateY(15px);
            font-size: clampDef(1.3em);
            cursor: pointer;
        }

    }

    &.opened {
        .foldout {
            height: unset;
            opacity: 1;
            padding: 10px;
            padding-bottom: 30px;
        }

        .dish-list-item {
            &::after {
                content: "Share Info >";
            }
        }

        &::before {
            opacity: 1;
        }
    }

    .foldout {
        opacity: 0;
        height: 0;
        transition: opacity 0.3s ease-in-out;
        background-color: $gray-500;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        .info {
            display: grid;
            grid-template-columns: 80% 20%;
            background-color: $gray-600;

            .content {
                grid-area: 1 / 1 / 2 / 2;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: clampDef(1.5em);
            }

            .buttons {
                grid-area: 1 / 2 / 2 / 3;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: clampDef(1.3em);

                button {
                    padding: 5px 10px;
                }
            }

            &.flavors {
                .content {
                    img {
                        padding: 5px;
                        width: 14%;
                    }
                }
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: 0;
        background-color: $gray-500;
        opacity: 0;
    }

}