@use "../../utils/Variables.scss" as *;

.dish-list {

    .options {
        padding: 2px;
        border-radius: 10px;
        background-color: $gray-500;
        width: max-content;
        position: fixed;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;

        button {
            font-family: Fontawesome;
            background-color: $gray-800;
            border: none;
            padding: 0;
            font-size: 20px;
            padding: 5px;

            &:hover {
                background-color: $gray-700;
            }
        }

        .top-options {
            display: flex;
            flex-direction: row;
            gap: 2px;

            button {
                background-color: $gray-800;
                border: none;
                padding: 0;
                font-size: 20px;
                padding: 5px;
            }
        }

        .open {
            width: 100%;
            padding-inline: 0;
            padding-block: 5px;
        }
    }

}