@use "../../utils/Variables.scss" as *;

.flavor-drag-n-drop-list {
    width: 200px;
    list-style-type: none;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 0;
    padding-top: 0;

    &-item {
        display: grid;
        grid-template-columns: 25px auto 40px;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-block: 5px;

        * {
            justify-self: center;
            align-self: center;
        }

        .play {
            font-family: Fontawesome;
            grid-area: 1 / 3 / 2 / 4;
            background-color: transparent;
            border: none;

            &:hover {
                position: relative;

                &::after {
                    font-family: Fontawesome;
                    content: attr(data-content);
                    position: absolute;
                    transform-origin: center center;
                    transform: translate(0%, -100%) scale(1.3);
                    color: $themeColor3;
                    z-index: -1;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        img {
            aspect-ratio: 1 / 1;
            width: 25px;
            grid-area: 1 / 1 / 2 / 2;
        }

        span {
            grid-area: 1 / 2 / 2 / 3;
        }

    }

}