.confirm-dialog {
    width: max-content;
    max-width: 70vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
    gap: 20px;

    &[open] {
        display: flex;
    }

    .question {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
        font-size: 20px;

        button {
            padding: 10px 20px;
        }
    }

    &::backdrop {
        backdrop-filter: blur(10px) brightness(50%);
    }
}